@import "tailwindcss";
@import "@fontsource/space-grotesk/400.css";
@import "@fontsource/space-grotesk/600.css";
@import "@fontsource/space-grotesk/700.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";

@theme inline {
  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}
